/* ======================================= */
/* Archivo: custom.css (Estilos TÁBANO BLUEGRASS) */
/* ======================================= */

/* 1. TIPOGRAFÍA (Cinzel para títulos, Lora para cuerpo) */
h1, h2, h3, h4 {
    font-family: 'Cinzel', serif; 
    font-weight: 700; 
}

body, p, a, input, button {
    font-family: 'Lora', serif; 
    font-weight: 200;
}


/* 2. COLORIMETRÍA BLUEGRASS */

/* Sobreescribir Botones y Fondos Primarios de Bootstrap */
/* Usamos !important para asegurar que sobreescribe el color por defecto (azul) */
.btn-primary, .bg-primary {
    background-color: #823329; /* Marrón Caoba */
    border-color: #823329;
}

/* Color del texto principal y títulos */
h1, h2, h3, h4, p {
    color: #224229; /* Verde Bosque Oscuro para buen contraste */
}

/* Color de fondo */
body {
    background-color: #F9F7F0; /* Crema/Hueso */
}

