/* ======================================= */
/* Archivo: custom.css (Estilos TÁBANO BLUEGRASS) */
/* ======================================= */

/* 1. TIPOGRAFÍA (Cinzel para títulos, Lora para cuerpo) */
h1, h2, h3, h4 {
    font-family: 'Cinzel', serif; 
    font-weight: 600; 
}

body, p, a, input, button {
    font-family: 'Lora', serif; 
    font-weight: 50;
}


/* 2. COLORIMETRÍA BLUEGRASS */

/* Color del texto principal y títulos */
h1, h2, h3, h4, p {
    color: #224229; /* Verde Bosque Oscuro para buen contraste */
}

/* Color de fondo */
body {
    background-color: #F9F7F0; /* Crema/Hueso */
}

/* Aumentamos el tamaño de la fuente para el correo/teléfono y corregimos el interlineado */
.single-contact-info p {
    font-size: 14px !important; /* Prueba con 18px, 20px, o 24px según lo que necesites */
    line-height: 1.3 !important; /* Evita que el texto se separe demasiado (como pasaba antes) */
    font-weight: 400 !important; /* Aseguramos que se vea con un peso de lectura normal */
}
